* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

header {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  width: 100%;
  background-color: rgba(10, 18, 12, 0.89);
  color: rgb(235, 235, 235);
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  /*margin-left: 3%;*/
  text-align: center;
  font-size: 24pt;
  font-weight: lighter;
}

.container {
  text-align: center;
  display: flex;
}

.lefty-sec {
  width: 20%;
  background-color: rgba(12, 99, 21, 0.8);
  height: 700px;
}

button {
  border-radius: 3px;
  border: 2px rgba(10, 18, 12, 0.89) solid;
  line-height: 1.5;
  font-family: 'Press Start 2P', cursive;
  font-size: 14pt;
  font-weight: bolder;
}

/*button:click {

}*/

.startButton {
  height: 70px;
  width: 80%;
  margin: 20px;
}

.lefty-sec h1 {
  color: rgb(235, 235, 235);
}

.lefty-sec div h1 {
  font-size: 32pt;
}

.playerScore {
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
}

.compScore {
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
}

.playCount {
  height: 100px;
  width: 100%;
  line-height: 100px;
  vertical-align: middle;
}

.righty-aside {
  width: 80%;
  background-color: rgb(188, 233, 182);
  height: 700px;
}

#gameBoard {
  margin-top: 20px;
}

.outerCard h2 {
  font-size: 14pt;
  text-transform: uppercase;
  padding: 10px;
  margin: -10px -10px 0 -10px;
  font-weight: bolder;
  background-color: gold;
  color: rgba(10, 18, 12, 0.89);
  border-radius: 6px 6px 0 0 ;
}

img {
  margin-bottom: 10px;
  height: 200px;
}

label {
  font-size: 10pt;
  font-weight: 1000;
  color: rgb(228, 240, 228);
  display: block;
}

input {
  font-size: 9pt;
  font-weight: lighter;
}

.outerCard {
  background-color: silver;
  padding: 15px;
  width: 35%;
  margin: 0 5%;
  border-radius: 10px;
  display: inline-block;
}

.playerCard {
  background-color: rgba(5, 5, 5, 1);
  border-radius: 8px;
  padding: 10px;
  color: rgb(228, 240, 228);
  font-size: 9pt;
}

.playerCard p {
  margin: 0 -10px 0 -10px;
}

.playerCard label {
  margin: 5px;
  color: rgb(103, 199, 101);
}

.compCard {
  background-color: rgba(5, 5, 5, 1);
  border-radius: 8px;
  padding: 10px;
  color: rgb(228, 240, 228);
  font-size: 9pt;
}

.compCard p {
  margin: 0 -10px 0 -10px;
}

.compCard label {
  margin: 5px;
  color: rgb(103, 199, 101);
}

.submitButton {
  height: 50px;
  width: 30%;
  margin: 20px;
}
